Docs/n8n-workflow.json
{
  "name": "ECS Chatbot",
  "nodes": [
    {
      "parameters": {
        "path": "ai-chat",
        "responseMode": "responseNode"
      },
      "id": "webhook_chat_in",
      "name": "Webhook (Chat In)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json;\nconst messages = Array.isArray(body.messages) ? body.messages : [];\nconst metadata = body.metadata || {};\n\nreturn {\n  json: {\n    messages,\n    metadata\n  }\n};"
      },
      "id": "normalize_input",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "company_name",
              "name": "company_name",
              "value": "ECS Vault",
              "type": "string"
            },
            {
              "id": "company_profile",
              "name": "company_profile",
              "value": "ECS Vault (Elevate Cyber Solutions) helps businesses with cloud computing, cybersecurity, and automation. We make technology simple and secure for companies. We can help you move to the cloud safely, protect your data from hackers, automate repetitive tasks, and use AI to work smarter. Our goal is to make your business more efficient and secure without the technical complexity.",
              "type": "string"
            },
            {
              "id": "tone",
              "name": "tone",
              "value": "friendly, simple, clear",
              "type": "string"
            }
          ]
        }
      },
      "id": "company_knowledge",
      "name": "Company Knowledge",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        820,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.item.json;\nconst messages = inputData.messages || [];\nconst metadata = inputData.metadata || {};\nconst company_name = inputData.company_name || 'ECS Vault';\nconst company_profile = inputData.company_profile || '';\nconst tone = inputData.tone || 'friendly';\nconst audience = metadata.audience || 'non-technical';\n\nconst systemPrompt = [\n  `You are a helpful assistant for ${company_name}.`,\n  `Use very simple words and short sentences for a ${audience} audience.`,\n  `Avoid technical jargon. Explain everything in plain English.`,\n  `If you don't know a fact about the company, say so briefly.`,\n  `Company profile: ${company_profile}`,\n  `Tone: ${tone}`,\n  `When explaining services:`,\n  `- Cloud Architecture: Help businesses move their systems to the cloud (online servers) safely and efficiently`,\n  `- Cybersecurity: Protect business data and systems from hackers and threats`,\n  `- DevOps: Automate software updates and deployment to save time`,\n  `- AI Automation: Use smart technology to handle repetitive tasks automatically`,\n  `- Managed Services: Ongoing monitoring and maintenance of systems`,\n  `Give concrete examples when possible. Keep responses under 150 words.`\n].join('\\n');\n\nconst chatMessages = [\n  { role: 'system', content: systemPrompt },\n  ...messages\n];\n\nreturn {\n  json: {\n    chatMessages,\n    originalMessages: messages\n  }\n};"
      },
      "id": "build_chat_messages",
      "name": "Build Chat Messages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4o-mini",
        "messages": "={{ $json.chatMessages }}",
        "options": {
          "temperature": 0.3
        }
      },
      "id": "openai_chat",
      "name": "OpenAI Chat",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        1380,
        300
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai_account",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "reply",
              "name": "reply",
              "value": "={{ $json.choices?.[0]?.message?.content || $json.content || $json.text || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare_reply",
      "name": "Prepare Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1660,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "firstEntryJson"
      },
      "id": "respond_to_webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1940,
        300
      ]
    }
  ],
  "connections": {
    "Webhook (Chat In)": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Company Knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Knowledge": {
      "main": [
        [
          {
            "node": "Build Chat Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Chat Messages": {
      "main": [
        [
          {
            "node": "OpenAI Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "main": [
        [
          {
            "node": "Prepare Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Reply": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}

